@font-face {
    font-family: "syregular";
    src: url('/font/SourceHanSansCN-Regular.otf');
}

@font-face {
    font-family: "sybold";
    src: url('/font/SourceHanSansCN-Bold.otf');
}

@font-face {
    font-family: "sylight";
    src: url('/font/SourceHanSansCN-Light.otf');
}

html,
body {
    height: 100%;
}

body,
td,
th {
    font-family: "syregular";
}

@media (max-width: 1600px) {
    h2 {
        font-size: 50px;
    }
    .mynav {
        width: 80%;
    }
    .ordercity {
        font-size: 24px;
    }
    .orderrigt {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    h2 {
        font-size: 41px;
    }
    .ordercity {
        font-size: 22px;
    }
    .orderrigt {
        font-size: 14px;
        text-align: center;
        letter-spacing: 4px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 33.75px;
    }
    .ordercity {
        font-size: 20px;
    }
    .orderrigt {
        font-size: 12px;
        text-align: center;
        letter-spacing: 3px;
    }
}

@media (max-width: 600px) {
    .mynav {
        width: 100%;
    }
    .ordercity {
        font-size: 18px;
    }
    .orderrigt {
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;
    }
}

.-webkit-scrollbar {
    width: 4px;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:focus {
    text-decoration: none
}

.top a {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.top a:hover {
    color: rgb(28, 134, 255);
}

.container1 {
    width: 100%;
    height: 93%;
    background: url(/image/bbb.jpg) no-repeat;
    background-size: cover;
}

.headtext {
    width: 50%;
    height: 60%;
    min-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    color: #fff;
    z-index: 9999;
}

.headtext>hr {
    margin: 0;
}

.headtext>h2 {
    margin: 0;
}

.headlist {
    width: 100%;
    height: 100px;
    background-color: rgb(28, 134, 255);
}

.mynav {
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    list-style-type: none;
}

.mynav li {
    float: left;
    height: 100px;
    width: 25%;
    min-width: 120px;
    text-align: center;
    padding-top: 34px;
    background-color: rgb(28, 134, 255);
    color: #fff;
    font-family: "syregular";
    font-size: 20px;
    background: url("/image/divider.png") no-repeat center right;
}

.mynav li:hover {
    background-color: #fff;
    color: rgb(28, 134, 255);
}

.headlogin {
    cursor: pointer;
    float: left;
    height: 60%;
    margin-top: 14px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.headlogin:hover {
    color: rgb(28, 134, 255);
}

.headlogin>span {
    font-size: 20px;
    font-weight: 900;
    color: rgb(28, 134, 255);
}

.headuser {
    float: left;
    height: 60%;
    margin-top: 14px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.flexbox {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #fff;
    display: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    height: 40px;
    color: #555;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.carousel-indicators {
    position: unset;
    width: 100%;
    height: 8px;
    margin: 0 auto;
}

.carousel-indicators>li {
    float: left;
    font-size: 20px;
    width: 39%;
    height: 8px;
    color: rgb(194, 194, 194);
    background-color: rgb(173, 173, 173);
    border: 0;
    text-indent: 0px;
    border-radius: 0;
    margin: 0;
    margin-left: 1px;
    margin-right: 1px;
    line-height: 40px;
}

.carousel-indicators>li.active {
    margin: 0;
    height: 8px;
    width: 59%;
    color: rgba(28, 134, 255);
    background-color: rgba(28, 134, 255);
    margin-left: 1px;
    margin-right: 1px;
}

#ordercreate {
    display: block;
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 12px;
}

.ordercreate>a:focus {
    color: #fff;
}

.textbox {
    height: 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 0;
    background-color: rgb(244, 244, 244);
    outline: none;
}

.textbox1 {
    height: 30px;
    border: 0;
    border-bottom: rgb(230, 230, 230) 1px solid;
    outline: none;
    float: none;
    padding-left: 0;
}

.textbox1:focus {
    height: 31px;
    border-bottom: rgb(28, 134, 255) 2px solid;
}

.button1 {
    height: 50px;
    width: 25%;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(28, 134, 255);
    color: #fff;
    outline: none;
    float: none;
}

.button1:hover {
    background-color: rgba(28, 134, 255, 0.726);
}

.button1:disabled {
    cursor: not-allowed;
    background-color: rgb(170, 170, 170);
    color: black;
    box-shadow: unset;
}

.lbutton1 {
    margin-top: 30px;
    height: 50px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(43, 56, 90);
    color: #fff;
}

.lbutton1:hover {
    background-color: rgb(28, 134, 255);
}

.lbutton1:disabled {
    cursor: not-allowed;
    background-color: rgb(170, 170, 170);
    color: black;
    box-shadow: unset;
}

.lbutton2 {
    margin-top: 30px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(28, 134, 255);
    color: #fff;
}

.lbutton2:disabled {
    cursor: not-allowed;
    background-color: rgb(170, 170, 170);
    color: black;
}

.logintype {
    float: left;
}

.headnav {
    width: 50%;
    height: 100%;
    min-width: 500px;
    margin: 0 auto;
}

.headnav>li {
    float: left;
    width: 33%;
    height: 100%;
    list-style-type: none;
    text-align: center;
}

.headnav>li>a {
    display: block;
    width: 90%;
    height: 100%;
    padding: 25px;
    color: #fff;
    opacity: .4;
}

.headnav>li>a:hover {
    background-color: rgb(28, 134, 255);
    opacity: 1;
    border-bottom: rgb(28, 134, 255) 1px solid;
}

.headnav>li>a:focus {
    background-color: rgb(28, 134, 255);
    opacity: 1;
    border-bottom: rgb(28, 134, 255) 1px solid;
}

.ordersearch {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    height: 80px;
}

.orderbox {
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    height: 30%;
    background-color: #fff;
    border: rgb(221, 221, 221) 1px solid;
    box-shadow: 0px 0px 2px 2px rgb(243, 243, 243);
    cursor: pointer;
    border-radius: 4px;
}

.orderbox:hover {
    box-shadow: 0px 0px 2px 2px rgb(221, 221, 221);
}